
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e2f;
    color: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #0dff00;
    margin-bottom: 20px;
}

p {
    text-align: center;
}


select {
    background-color: #2b2b3d;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 5px;
    width: 200px;
    height: 100px;
}

#classes,
#habilidades {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: 25px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0dff00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 100px;
}

button:hover {
    background-color: #5bff53;
}

#resultado {
    margin-top: 25px;
    padding: 15px;
    background-color: #2b2b3d;
    border-left: 5px solid #0dff00;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
}
